.header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 1000;
  height:100px;
  box-sizing: border-box;
  transition: .5s;
  background: #0b3565;
  font-size: 30px;
}

.header:hover {
  background-color: white;
}

.logo {
  margin: 20px;
}

.title {
  position:absolute;
  color:white;
}

.header:hover .title {
  color:#0b3565;
}